@CHARSET "ISO-8859-1";
.icon-bar{
	display: block;
	width: 22px;
	height: 2px;
	border-radius: 1px;
	background-color: #888;
	margin-top: 4px;
 }
  		
.custom-panel{
	padding: 20px;
    border-radius: 0px;
    box-shadow:5px 5px 5px grey;
    border:solid #e7e7e7 1px;
    text-align:center;
    -webkit-transition: -webkit-transform 1s, box-shadow 1s;
    transition: transform 1s, box-shadow 1s;
}

@media only screen and (min-width: 0px) and (max-width: 991px)
  {
  	  .custom-panel{
	  	  padding: 30px;
    	  border-radius: 0px;
    	  box-shadow:5px 5px 5px grey;
    	  border:solid #e7e7e7 1px;
    	  text-align:center;
	  }
  }

.custom-panel form{
	text-align:left;
}

.custom-panel:not(:first-child){
	margin-top: 30px;
 }
  		
 .custom-panel:hover{
 	box-shadow:0px 0px 0px grey;
  	-webkit-transform: translate(5px,8px);
  	transform: translate(5px, 8px);
 }
 
 img[role="sns-logo"]{
 	width: 80%;
 	height:auto;
 }