@CHARSET "ISO-8859-1";
.navbar{
	margin-bottom: 5px;
}

.icon-bar{
	display: block;
	width: 22px;
	height: 2px;
	border-radius: 1px;
	background-color: #888;
	margin-top: 4px;
 }
  		
.custom-panel{
	padding: 20px;
    border-radius: 0px;
    box-shadow:5px 5px 5px grey;
    border:solid #e7e7e7 1px;
    text-align:center;
    -webkit-transition: -webkit-transform 1s, box-shadow 1s;
    /*transition: transform 1s, box-shadow 1s;*/
}

@media only screen and (min-width: 0px) and (max-width: 991px)
  {
  	  .custom-panel{
	  	  padding: 30px;
    	  border-radius: 0px;
    	  box-shadow:5px 5px 5px grey;
    	  border:solid #e7e7e7 1px;
    	  text-align:center;
	  }
  }

.custom-panel form{
	text-align:left;
}

.custom-panel:not(:first-child){
	margin-top: 30px;
 }
 
 img[role="sns-logo"]{
 	width: 80%;
 	height:auto;
 }
 
.ssn_name{
	color: rgb(150, 255, 90);
	font-size:150%;
}

.fb-button{
	color: white;
	background-image: -webkit-linear-gradient(to bottom, rgb(51, 102, 153), rgb(71, 122, 173)); /* For Safari 5.1 to 6.0 */
	background-image: -o-linear-gradient(to bottom, rgb(51, 102, 153), rgb(71, 122, 173)); /* For Opera 11.1 to 12.0 */
	background-image: -moz-linear-gradient(to bottom, rgb(51, 102, 153), rgb(71, 122, 173)); /* For Firefox 3.6 to 15 */
	background-image: linear-gradient(to bottom, rgb(51, 102, 153), rgb(71, 122, 173)); /* Standard syntax (must be last) */
}

.tw-button{
	color: white;
	background-image: -webkit-linear-gradient(to bottom, rgb(51, 204, 225), rgb(51, 204, 225)); /* For Safari 5.1 to 6.0 */
	background-image: -o-linear-gradient(to bottom, rgb(51, 204, 225), rgb(51, 204, 225)); /* For Opera 11.1 to 12.0 */
	background-image: -moz-linear-gradient(to bottom, rgb(51, 204, 225), rgb(51, 204, 225)); /* For Firefox 3.6 to 15 */
	background-image: linear-gradient(to bottom, rgb(51, 204, 225), rgb(51, 204, 225)); /* Standard syntax (must be last) */
}

.gp-button{
	color: white;
	background-image: -webkit-linear-gradient(to bottom, rgb(204, 51, 51), rgb(224, 71, 71)); /* For Safari 5.1 to 6.0 */
	background-image: -o-linear-gradient(to bottom, rgb(204, 51, 51), rgb(224, 71, 71)); /* For Opera 11.1 to 12.0 */
	background-image: -moz-linear-gradient(to bottom, rgb(204, 51, 51), rgb(224, 71, 71)); /* For Firefox 3.6 to 15 */
	background-image: linear-gradient(to bottom, rgb(204, 51, 51), rgb(224, 71, 71)); /* Standard syntax (must be last) */
}